body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: $text_color;
}

a{
    text-decoration: none;
    color: $text_color;
}

.footer{
    font-size: 0.8rem;
}