/* Style buttons */
.btn {
    background-color: $backg_color;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: $darken;
    ;
}

.btn_close{
    background: $transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.btn-rotate{
    background: $rgba;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.game-btn{
    opacity: 1;
    transition: opacity linear 0.3s;
    border-style: solid;
    border-color: black;
}
.repeat_btn{
    position: absolute;
    left: 45%;
    opacity: 1;
    transition: opacity linear 0.3s;
}