.sidepanel {
    height: 100%; 
    position: fixed;
    z-index: 1;
    width: 0; 
    top: 0;
    left: 0;
    background-color: $rgba_strong; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: all 0.5s;
}
.sidemenu-item {
    cursor: pointer;
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    display: block;
    transition: 0.3s;
    overflow: hidden;
    transition: all 0.2s;
}

.sidemenu-item:hover{
    background: $darken;
    color: $not_active;
    transition: all 0.2s;
}