/* Style buttons */
.btn {
    background-color: $backg_color;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 22px;
    cursor: pointer;
}

.btn:hover {
    background-color: $darken;
    ;
}

.btn_close{
    background: $transparent;
    position: absolute;
    right: 0;
    top: 0;
}