.sidepanel {
    height: 100%; /* Specify a height */
     /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1;
    width: 0; /* Stay on top */
    top: 0;
    left: 0;
    background-color: $rgba_strong; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: all 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $text_color;
    display: block;
    transition: 0.3s;
}