
.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 20px;
    justify-content: space-between;
    padding: 60px 0;
    height: 100%;
}

.main-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}