.footer_section{
    background: $backg_color;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: $backg_color;
    padding: 16px;
    
}