.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 20px;
    justify-content: space-between;
    padding: 60px 20px;
    height: 100%;

    @include respond-to('mobile') {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 10px;
    }
    
    @include respond-to('tablet') {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px 10px;
    }
    @include respond-to('desktop') {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 20px;
    }
}